<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054307743277-tdh3lbmuckrd7tpr6kiff4qav8p0gb75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054307743277-tdh3lbmuckrd7tpr6kiff4qav8p0gb75</string>
	<key>API_KEY</key>
	<string>AIzaSyAA7sW88f2tNMnoCPu5TyOyBd4mJd_3sAc</string>
	<key>GCM_SENDER_ID</key>
	<string>1054307743277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alonso.data.newExamen</string>
	<key>PROJECT_ID</key>
	<string>examen-bf67d</string>
	<key>STORAGE_BUCKET</key>
	<string>examen-bf67d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054307743277:ios:cef0b03595ac56eba42aa4</string>
</dict>
</plist>